.dropdown {
    position: absolute;
    display: block;
    top: 1rem;
    right: 1rem;
    z-index: 5;
}

.dropdown-button {
    position: relative;
    display: block;
    width: 4rem;
    height: 3rem;
    top: 0;
    right: 0;
}

.options {
    position: absolute;
    display: grid;
    /* grid-template-columns: 50% 50%; */
    grid-template-rows: 50% 50%;
    width: 10rem;
    height: 20rem;
    right: 0;
    top: 4rem;
}

.options-text {
    font-size: 2.5rem;
    font-weight: 700;
    color: white;
}

.option {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option:hover {
    background-color: rgba(100, 200, 255, .8);
}