/* You can add global styles to this file, and also import other style files */
/**
 * Reboot
 */
 *,
 *::before,
 *::after {
    box-sizing: border-box;
    overflow: visible;
    margin: 0;
    padding: 0;
}

/**
 * weakpoint utility
 */
.-b-1 {
    border: 1px solid #ccc;
}

.-b-2 {
    border-width: 2px;
    border-style: solid;
}

.-radius-05 {
    border-radius: 0.5rem;
}

.-radius-tl-05 {
    border-radius: 0.5rem 0 0 0;
}

.-radius-tr-05 {
    border-radius: 0 0.5rem 0 0;
}

.-radius-bl-05 {
    border-radius: 0 0 0 0.5rem;
}

.-radius-br-05 {
    border-radius: 0 0 0.5rem 0;
}

.-radius-1 {
    border-radius: 1rem;
}

.-radius-t-1 {
    border-radius: 1rem 1rem 0 0;
}

.-radius-b-1 {
    border-radius: 0 0 1rem 1rem;
}

.-radius-tl-1 {
    border-radius: 1rem 0 0 0;
}

.-radius-tr-1 {
    border-radius: 0 1rem 0 0;
}

.-radius-bl-1 {
    border-radius: 0 0 0 1rem;
}

.-radius-br-1 {
    border-radius: 0 0 1rem 0;
}

.-radius-tl-0 {
    border-top-left-radius: 0;
}

.-radius-tr-0 {
    border-top-right-radius: 0;
}

.-radius-br-0 {
    border-bottom-right-radius: 0;
}

.-radius-bl-0 {
    border-bottom-left-radius: 0;
}

.-bg-blue {
    background-color: rgba(100, 200, 255, 1);
}

.-b-color-blue {
    border-color: rgb(100, 200, 255);
}

/**
 * Test
 */
.t-bg-green {
    background-color: grey;
}

.t-bg-bisque {
    background-color: bisque;
}
/**
 * Utility.css
 */
.--p-static {
    position: static !important;
}
.--p-relative {
    position: relative !important;
}
.--p-absolute {
    position: absolute !important;
}
.--p-fixed {
    position: fixed !important;
}
.--p-sticky {
    position: -webkit-sticky !important;
    position: sticky !important;
}
.--fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.--fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}
@supports ((position: -webkit-sticky) or (position: sticky)) {
    .--sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
}
}.--d-none {
    display: none !important;
}
.--d-inline {
    display: inline !important;
}
.--d-block {
    display: block !important;
}
.--d-inline-block {
    display: inline-block !important;
}
.--d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}
.--d-inline-flex {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
}
.--w-25 {
    width: 25% !important;
}
.--w-50 {
    width: 50% !important;
}
.--w-75 {
    width: 75% !important;
}
.--w-100 {
    width: 100% !important;
}
.--w-auto {
    width: auto !important;
}
.--h-25 {
    height: 25% !important;
}
.--h-50 {
    height: 50% !important;
}
.--h-75 {
    height: 75% !important;
}
.--h-100 {
    height: 100% !important;
}
.--h-auto {
    height: auto !important;
}
.--max-w-100 {
    max-width: 100% !important;
}
.--max-h-100 {
    max-height: 100% !important;
}
.--min-vw-100 {
    min-width: 100vw !important;
}
.--min-vh-100 {
    min-height: 100vh !important;
}
.--vw-100 {
    width: 100vw !important;
}
.--vh-100 {
    height: 100vh !important;
}
.--m-0 {
    margin: 0 !important;
}
.--mt-0, .--my-0 {
    margin-top: 0 !important;
}
.--mr-0, .--mx-0 {
    margin-right: 0 !important;
}
.--mb-0, .--my-0 {
    margin-bottom: 0 !important;
}
.--ml-0, .--mx-0 {
    margin-left: 0 !important;
}
.--m-1 {
    margin: .1rem !important;
}
.--mt-1, .--my-1 {
    margin-top: .1rem !important;
}
.--mr-1, .--mx-1 {
    margin-right: .1rem !important;
}
.--mb-1, .--my-1 {
    margin-bottom: .1rem !important;
}
.--ml-1, .--mx-1 {
    margin-left: .1rem !important;
}
.--m-2 {
    margin: .2rem !important;
}
.--mt-2, .--my-2 {
    margin-top: .2rem !important;
}
.--mr-2, .--mx-2 {
    margin-right: .2rem !important;
}
.--mb-2, .--my-2 {
    margin-bottom: .2rem !important;
}
.--ml-2, .--mx-2 {
    margin-left: .2rem !important;
}
.--m-3 {
    margin: .4rem !important;
}
.--mt-3, .--my-3 {
    margin-top: .4rem !important;
}
.--mr-3, .--mx-3 {
    margin-right: .4rem !important;
}
.--mb-3, .--my-3 {
    margin-bottom: .4rem !important;
}
.--ml-3, .--mx-3 {
    margin-left: .4rem !important;
}
.--m-4 {
    margin: .8rem !important;
}
.--mt-4, .--my-4 {
    margin-top: .8rem !important;
}
.--mr-4, .--mx-4 {
    margin-right: .8rem !important;
}
.--mb-4, .--my-4 {
    margin-bottom: .8rem !important;
}
.--ml-4, .--mx-4 {
    margin-left: .8rem !important;
}
.--m-5 {
    margin: 1.6rem !important;
}
.--mt-5, .--my-5 {
    margin-top: 1.6rem !important;
}
.--mr-5, .--mx-5 {
    margin-right: 1.6rem !important;
}
.--mb-5, .--my-5 {
    margin-bottom: 1.6rem !important;
}
.--ml-5, .--mx-5 {
    margin-left: 1.6rem !important;
}
.--m-6 {
    margin: 3.2rem !important;
}
.--mt-6, .--my-6 {
    margin-top: 3.2rem !important;
}
.--mr-6, .--mx-6 {
    margin-right: 3.2rem !important;
}
.--mb-6, .--my-6 {
    margin-bottom: 3.2rem !important;
}
.--ml-6, .--mx-6 {
    margin-left: 3.2rem !important;
}
.--p-0 {
    padding: 0 !important;
}
.--pt-0, .--py-0 {
    padding-top: 0 !important;
}
.--pr-0, .--px-0 {
    padding-right: 0 !important;
}
.--pb-0, .--py-0 {
    padding-bottom: 0 !important;
}
.--pl-0, .--px-0 {
    padding-left: 0 !important;
}
.--p-1 {
    padding: .1rem !important;
}
.--pt-1, .--py-1 {
    padding-top: .1rem !important;
}
.--pr-1, .--px-1 {
    padding-right: .1rem !important;
}
.--pb-1, .--py-1 {
    padding-bottom: .1rem !important;
}
.--pl-1, .--px-1 {
    padding-left: .1rem !important;
}
.--p-2 {
    padding: .2rem !important;
}
.--pt-2, .--py-2 {
    padding-top: .2rem !important;
}
.--pr-2, .--px-2 {
    padding-right: .2rem !important;
}
.--pb-2, .--py-2 {
    padding-bottom: .2rem !important;
}
.--pl-2, .--px-2 {
    padding-left: .2rem !important;
}
.--p-3 {
    padding: .4rem !important;
}
.--pt-3, .--py-3 {
    padding-top: .4rem !important;
}
.--pr-3, .--px-3 {
    padding-right: .4rem !important;
}
.--pb-3, .--py-3 {
    padding-bottom: .4rem !important;
}
.--pl-3, .--px-3 {
    padding-left: .4rem !important;
}
.--p-4 {
    padding: .8rem !important;
}
.--pt-4, .--py-4 {
    padding-top: .8rem !important;
}
.--pr-4, .--px-4 {
    padding-right: .8rem !important;
}
.--pb-4, .--py-4 {
    padding-bottom: .8rem !important;
}
.--pl-4, .--px-4 {
    padding-left: .8rem !important;
}
.--p-5 {
    padding: 1.6rem !important;
}
.--pt-5, .--py-5 {
    padding-top: 1.6rem !important;
}
.--pr-5, .--px-5 {
    padding-right: 1.6rem !important;
}
.--pb-5, .--py-5 {
    padding-bottom: 1.6rem !important;
}
.--pl-5, .--px-5 {
    padding-left: 1.6rem !important;
}
.--p-6 {
    padding: 3.2rem !important;
}
.--pt-6, .--py-6 {
    padding-top: 3.2rem !important;
}
.--pr-6, .--px-6 {
    padding-right: 3.2rem !important;
}
.--pb-6, .--py-6 {
    padding-bottom: 3.2rem !important;
}
.--pl-6, .--px-6 {
    padding-left: 3.2rem !important;
}
.--m-n0 {
    margin: 0 !important;
}
.--mt-n0, .--my-n0 {
    margin-top: 0 !important;
}
.--mr-n0, .--mx-n0 {
    margin-right: 0 !important;
}
.--mb-n0, .--my-n0 {
    margin-bottom: 0 !important;
}
.--ml-n0, .--mx-n0 {
    margin-left: 0 !important;
}
.--m-n1 {
    margin: -.1rem !important;
}
.--mt-n1, .--my-n1 {
    margin-top: -.1rem !important;
}
.--mr-n1, .--mx-n1 {
    margin-right: -.1rem !important;
}
.--mb-n1, .--my-n1 {
    margin-bottom: -.1rem !important;
}
.--ml-n1, .--mx-n1 {
    margin-left: -.1rem !important;
}
.--m-n2 {
    margin: -.2rem !important;
}
.--mt-n2, .--my-n2 {
    margin-top: -.2rem !important;
}
.--mr-n2, .--mx-n2 {
    margin-right: -.2rem !important;
}
.--mb-n2, .--my-n2 {
    margin-bottom: -.2rem !important;
}
.--ml-n2, .--mx-n2 {
    margin-left: -.2rem !important;
}
.--m-n3 {
    margin: -.4rem !important;
}
.--mt-n3, .--my-n3 {
    margin-top: -.4rem !important;
}
.--mr-n3, .--mx-n3 {
    margin-right: -.4rem !important;
}
.--mb-n3, .--my-n3 {
    margin-bottom: -.4rem !important;
}
.--ml-n3, .--mx-n3 {
    margin-left: -.4rem !important;
}
.--m-n4 {
    margin: -.8rem !important;
}
.--mt-n4, .--my-n4 {
    margin-top: -.8rem !important;
}
.--mr-n4, .--mx-n4 {
    margin-right: -.8rem !important;
}
.--mb-n4, .--my-n4 {
    margin-bottom: -.8rem !important;
}
.--ml-n4, .--mx-n4 {
    margin-left: -.8rem !important;
}
.--m-n5 {
    margin: -1.6rem !important;
}
.--mt-n5, .--my-n5 {
    margin-top: -1.6rem !important;
}
.--mr-n5, .--mx-n5 {
    margin-right: -1.6rem !important;
}
.--mb-n5, .--my-n5 {
    margin-bottom: -1.6rem !important;
}
.--ml-n5, .--mx-n5 {
    margin-left: -1.6rem !important;
}
.--m-n6 {
    margin: -3.2rem !important;
}
.--mt-n6, .--my-n6 {
    margin-top: -3.2rem !important;
}
.--mr-n6, .--mx-n6 {
    margin-right: -3.2rem !important;
}
.--mb-n6, .--my-n6 {
    margin-bottom: -3.2rem !important;
}
.--ml-n6, .--mx-n6 {
    margin-left: -3.2rem !important;
}

.--b-0 {
    border: 0 !important;
}
.--bt-0 {
    border-top: 0 !important;
}
.--br-0 {
    border-right: 0 !important;
}
.--bb-0 {
    border-bottom: 0 !important;
}
.--bl-0 {
    border-left: 0 !important;
}
.--rounded-circle {
    border-radius: 50% !important;
}
.--rounded-0 {
    border-radius: 0 !important;
}
.--f-row {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
}
.--f-column {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
}
.--f-row-reverse {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: reverse !important;
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important;
}
.--f-column-reverse {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important;
}
.--f-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
}
.--f-nowrap {
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
}
.--f-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
    flex-wrap: wrap-reverse !important;
}
.--f-fill {
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
}
.--f-grow-0 {
    -webkit-box-flex: 0 !important;
    -ms-flex-positive: 0 !important;
    flex-grow: 0 !important;
}
.--f-grow-1 {
    -webkit-box-flex: 1 !important;
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important;
}
.--f-shrink-0 {
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important;
}
.--f-shrink-1 {
    -ms-flex-negative: 1 !important;
    flex-shrink: 1 !important;
}
.--f-jc-start {
    -webkit-box-pack: start !important;
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
}
.--f-jc-end {
    -webkit-box-pack: end !important;
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
}
.--f-jc-center {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}
.--f-jc-between {
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}
.--f-jc-around {
    -ms-flex-pack: distribute !important;
    justify-content: space-around !important;
}
.--f-ai-start {
    -webkit-box-align: start !important;
    -ms-flex-align: start !important;
    align-items: flex-start !important;
}
.--f-ai-end {
    -webkit-box-align: end !important;
    -ms-flex-align: end !important;
    align-items: flex-end !important;
}
.--f-ai-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}
.--f-ai-baseline {
    -webkit-box-align: baseline !important;
    -ms-flex-align: baseline !important;
    align-items: baseline !important;
}
.--f-ai-stretch {
    -webkit-box-align: stretch !important;
    -ms-flex-align: stretch !important;
    align-items: stretch !important;
}
.--f-ac-start {
    -ms-flex-line-pack: start !important;
    align-content: flex-start !important;
}
.--f-ac-end {
    -ms-flex-line-pack: end !important;
    align-content: flex-end !important;
}
.--f-ac-center {
    -ms-flex-line-pack: center !important;
    align-content: center !important;
}
.--f-ac-between {
    -ms-flex-line-pack: justify !important;
    align-content: space-between !important;
}
.--f-ac-around {
    -ms-flex-line-pack: distribute !important;
    align-content: space-around !important;
}
.--f-ac-stretch {
    -ms-flex-line-pack: stretch !important;
    align-content: stretch !important;
}
.--f-as-auto {
    -ms-flex-item-align: auto !important;
    -ms-grid-row-align: auto !important;
    align-self: auto !important;
}
.--f-as-start {
    -ms-flex-item-align: start !important;
    align-self: flex-start !important;
}
.--f-as-end {
    -ms-flex-item-align: end !important;
    align-self: flex-end !important;
}
.--f-as-center {
    -ms-flex-item-align: center !important;
    -ms-grid-row-align: center !important;
    align-self: center !important;
}
.--f-as-baseline {
    -ms-flex-item-align: baseline !important;
    align-self: baseline !important;
}
.--f-as-stretch {
    -ms-flex-item-align: stretch !important;
    -ms-grid-row-align: stretch !important;
    align-self: stretch !important;
}
.--float-left {
    float: left !important;
}
.--float-right {
    float: right !important;
}
.--float-none {
    float: none !important;
}
.--align-baseline {
    vertical-align: baseline !important;
}
.--align-top {
    vertical-align: top !important;
}
.--align-middle {
    vertical-align: middle !important;
}
.--align-bottom {
    vertical-align: bottom !important;
}
.--align-text-bottom {
    vertical-align: text-bottom !important;
}
.--align-text-top {
    vertical-align: text-top !important;
}
.--text-justify {
    text-align: justify !important;
}
.--text-wrap {
    white-space: normal !important;
}
.--text-nowrap {
    white-space: nowrap !important;
}
.--text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.--text-left {
    text-align: left !important;
}
.--text-right {
    text-align: right !important;
}
.--text-center {
    text-align: center !important;
}
.--text-lowercase {
    text-transform: lowercase !important;
}
.--text-uppercase {
    text-transform: uppercase !important;
}
.--text-capitalize {
    text-transform: capitalize !important;
}
.--font-weight-light {
    font-weight: 300 !important;
}
.--font-weight-lighter {
    font-weight: lighter !important;
}
.--font-weight-normal {
    font-weight: 400 !important;
}
.--font-weight-bold {
    font-weight: 700 !important;
}
.--font-weight-bolder {
    font-weight: bolder !important;
}
.--font-italic {
    font-style: italic !important;
}
.--text-decoration-none {
    text-decoration: none !important;
}
.--text-break {
    word-break: break-word !important;
    overflow-wrap: break-word !important;
}
.--bg-white {
    background-color: #fff !important;
}
.--bg-transparent {
    background-color: transparent !important;
}
.--color-white {
    color: #fff !important;
}
.--color-black {
    color: #000 !important;
}
.--color-inherit {
    color: inherit !important;
}
.--clearfix::after {
    display: block;
    clear: both;
    content: ""
}
.--overflow-auto {
    overflow: auto !important;
}
.--overflow-hidden {
    overflow: hidden !important;
}
.--visible {
    visibility: visible !important;
}
.--invisible {
    visibility: hidden !important;
}
.--embed-responsive {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
}
.--embed-responsive::before {
    display: block;
    content: ""}
.--embed-responsive .--embed-responsive-item, .--embed-responsive iframe, .--embed-responsive embed, .--embed-responsive object, .--embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
.--embed-responsive-21by9::before {
    padding-top: 42.85714%
}
.--embed-responsive-16by9::before {
    padding-top: 56.25%
}
.--embed-responsive-4by3::before {
    padding-top: 75%
}
.--embed-responsive-1by1::before {
    padding-top: 100%
}
.--screen-reader-text {
    position: absolute !important;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    border: 0;
    clip: rect(1px,  1px,  1px,  1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    word-wrap: normal !important;
    word-break: normal;
    overflow: hidden;
}
.--screen-reader-text:active, .--screen-reader-text:focus {
    display: block;
    width: auto;
    height: auto;
    top: 5px;
    right: 5px;
    padding: 15px 23px 14px;
    color: #21759b;
    background-color: #f1f1f1;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    -webkit-clip-path: none;
    clip-path: none;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    z-index: 100000;
}
.--stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: rgba(0, 0, 0, 0);
}