.thumbnails {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.thumbnail {
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 16rem;
    height: 9rem;
    margin-top: 1rem;
}

.thumbnail-icon {
    position:absolute;
    display: none;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 1rem;
    top: -1rem;
    cursor: pointer;
}

.thumbnail:hover {
    border-top-right-radius: 0;
}

.thumbnail:hover .thumbnail-icon {
    display: flex;
}

.duplicate {
    right: calc(2rem - 1px);
}

.delete {
    right: -1px;
}